$header-layout: (
  columns: 10,
  gutters: .1,
  math: static,
  flow: rtl,
  column-width: 50px,
  container-position: right,
  gutter-position: inside,
);

@include with-layout($header-layout) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    line-height: $header-height;
    width: 100%;
    z-index: 10000;
    background-color: #efefef;
    color: $gray;
    text-align: center;
    border-bottom: 1px solid $gray;
    h1 {
      @extend %gothic;
      position: absolute;
      margin-left: 40px;
      padding: 0 20px;
      height: 70px;
      background: #404040;
      transition: background-color 400ms linear;
      &:hover {
        background: #ff6a24;
      }
    }
  }

  .header-nav {
    font-size: 26px;
    background-color: #efefef;
    @extend %gothic;
    @include container;
  }

  %header-prev-next {
    border: {
      left: 1px solid black;
      right: 1px solid black;
    }
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #dedede;
    }
  }

  .header-nav-day {
    @include span(5);
  }

  .header-nav-prev {
    @extend %header-prev-next;
    @include span(2);
  }

  .header-nav-next {
    @extend %header-prev-next;
    @include span(2);
    margin-right: span(1);
  }
}
