@include layout(12 .5 fluid after);
.main {
}

.ex-list {
  width: 100%;
  padding: $list-top 0 0 0;
}

.ex-list.shrink {
  width: span(5);
  border-right: 1px solid $light;
  min-height: 100%;
  .ex-item-title {
    display: none;
  }
  .ex-item-head {
    @include span(12);
  }
}

.ex-item {
  @include container;
  @include adjust-font-size-to(20px, 3);
  border-bottom: 1px solid $light;
  cursor: pointer;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    .ex-item-head-title,
    .ex-item-title {
      color: $selected-vivid;
    }
  }
  &.selected {
    .ex-item-head {
      background-color: $selected;
    }
    .ex-item-head-title {
      color: $selected-vivid;
    }
  }
  &.selected {
    .ex-item-arrow {
      display: block;
    }
  }
}

.ex-item-arrow {
  display: none;
  right: -1px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 12px;
  margin-top: -12px;
}

.ex-item-head {
  font-weight: 600;
  font-size: 104%;
  @include span(5);
  @include container;
}

.ex-item-head-label {
  @extend %gothic;
  @include span(5);
  text-align: right;
  line-height: 3.2;
}

.ex-item-head-title {
  @extend %gothic;
  @include span(last 7);
  white-space: nowrap;
  overflow: hidden;
}

.ex-item-title {
  @extend %serif;
  @include span(last 7);
  font-size: 96%;
}

.ex-content {
  margin:{
    top: $content-top;
  }
  display: none;
  &.active {
    display: block;
  }
  width: span(7);
  margin-left: span(5) + gutter();
  background-color: white;
  header {
    position: relative;
    h1 {
      @extend %serif;
      @include padding-leader(.6);
      @include padding-trailer(.2);
      font-size: 200%;
      color: $dark;
    }
    time {
      color: $gray;
      font-weight: lighter;
    }
    @include padding-trailer(3);
  }
}

.ex-content-body {
  margin-right: gutter() * 2;
  @include padding-trailer(3);
}

@include with-layout(12 .25) {
  .ex-content-aside {
    margin-right: gutter() * 2;
    margin-bottom: gutter();
    @extend %well;
    li {
      @include container;
      @include adjust-font-size-to(13px, 1);
      span {
        font-weight: bold;
        @include span(3);
      }
      p {
        @include span(8);
      }
    }
  }
}

.short-details-header {
  @include trailer(.4);
}

.ex-content-close {
  position: absolute;
  right: 30px;
  top: -30px;
  font-size: 30px;
  cursor: pointer;
}
