%label {
  display: inline;
  padding: 4px 10px 5px;
  font-weight: 700;
  line-height: 70%;
  color: #fff;
  font-size: 70%;
  white-space: nowrap;
}

.label-alert {
  @extend %label;
  @extend %gothic;
  background-color: $label-alert;
}

.label-note {
  @extend %label;
  @extend %gothic;
  background-color: $label-note;
}
