$gray : #4a4a4a;
$black: #1a1a1a;
$dark: #090909;
$light: #e5e5e5;
$label-alert: #f3377a;
$label-note: #4bbef3;
$well: #e8ebee;
$header-date: #f3f9fb;
$accent: #99fb2a;
$accent-light: #b1fbab;
$accent-dark: #467173;
$selected: #cefafb;
