@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/bases/_link.scss */
a {
  -moz-transition: color 150ms;
  -o-transition: color 150ms;
  -webkit-transition: color 150ms;
  transition: color 150ms;
}
/* line 4, ../sass/bases/_link.scss */
a, a:visited {
  color: inherit;
}
/* line 7, ../sass/bases/_link.scss */
a:hover {
  color: #4a4a4a;
}

/* line 16, ../sass/bases/_link.scss */
.noline {
  -moz-transition: color 150ms;
  -o-transition: color 150ms;
  -webkit-transition: color 150ms;
  transition: color 150ms;
}
/* line 4, ../sass/bases/_link.scss */
.noline, .noline:visited {
  color: #1c1c4a;
}
/* line 7, ../sass/bases/_link.scss */
.noline:hover {
  color: #4a4a4a;
}
/* line 18, ../sass/bases/_link.scss */
.noline, .noline:visited {
  text-decoration: none;
}
/* line 21, ../sass/bases/_link.scss */
.noline:hover {
  text-decoration: underline;
}

/* line 2, ../sass/bases/_root.scss */
html {
  color: #4a4a4a;
}

/* line 7, ../sass/bases/_root.scss */
body {
  width: 100%;
  height: 100%;
  min-width: 900px;
}

/* line 12, ../sass/bases/_header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 46px;
  line-height: 46px;
  width: 100%;
  z-index: 10000;
  background-color: #efefef;
  color: #4a4a4a;
  text-align: center;
  border-bottom: 1px solid #4a4a4a;
}
/* line 24, ../sass/bases/_header.scss */
.header h1 {
  position: absolute;
  margin-left: 40px;
  padding: 0 20px;
  font-size: 20px;
  color: #b9b9b9;
  transition: color 400ms linear;
  cursor: pointer;
}
/* line 33, ../sass/bases/_header.scss */
.header h1:hover {
  color: #ff6a24;
}

/* line 39, ../sass/bases/_header.scss */
.header-nav {
  font-size: 26px;
  background-color: #efefef;
  width: 550px;
  margin-left: auto;
  margin-right: 0;
}
/* line 12, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.header-nav:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 46, ../sass/bases/_header.scss */
.header-nav-prev, .header-nav-next {
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-decoration: none;
  cursor: pointer;
}
/* line 53, ../sass/bases/_header.scss */
.header-nav-prev:hover, .header-nav-next:hover {
  background-color: #dedede;
}

/* line 58, ../sass/bases/_header.scss */
.header-nav-day {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  float: right;
  padding-right: 2.5px;
  padding-left: 2.5px;
}

/* line 62, ../sass/bases/_header.scss */
.header-nav-prev {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 110.0px;
  float: right;
  padding-right: 2.5px;
  padding-left: 2.5px;
}

/* line 67, ../sass/bases/_header.scss */
.header-nav-next {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 110.0px;
  float: right;
  padding-right: 2.5px;
  padding-left: 2.5px;
  margin-right: 55.0px;
}

/* line 5, ../sass/bases/_main.scss */
.ex-list {
  width: 100%;
  padding: 140px 0 0 0;
}

/* line 10, ../sass/bases/_main.scss */
.ex-list.shrink {
  width: 40%;
  border-right: 1px solid #e5e5e5;
  min-height: 100%;
}
/* line 14, ../sass/bases/_main.scss */
.ex-list.shrink .ex-item-title {
  display: none;
}
/* line 17, ../sass/bases/_main.scss */
.ex-list.shrink .ex-item-head {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 22, ../sass/bases/_main.scss */
.ex-item {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  line-height: 3.6em;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  position: relative;
}
/* line 12, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.ex-item:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 28, ../sass/bases/_main.scss */
.ex-item:last-child {
  border-bottom: none;
}
/* line 32, ../sass/bases/_main.scss */
.ex-item:hover .ex-item-head-title,
.ex-item:hover .ex-item-title {
  color: #2ee2ee;
}
/* line 38, ../sass/bases/_main.scss */
.ex-item.selected .ex-item-head {
  background-color: #dafbfe;
}
/* line 41, ../sass/bases/_main.scss */
.ex-item.selected .ex-item-head-title {
  color: #2ee2ee;
}
/* line 46, ../sass/bases/_main.scss */
.ex-item.selected .ex-item-arrow {
  display: block;
}

/* line 52, ../sass/bases/_main.scss */
.ex-item-arrow {
  display: none;
  right: -1px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 12px;
  margin-top: -12px;
}

/* line 68, ../sass/bases/_main.scss */
.ex-item-head {
  font-weight: 600;
  font-size: 104%;
  width: 40%;
  float: left;
  margin-right: 2.85714%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.ex-item-head:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 75, ../sass/bases/_main.scss */
.ex-item-head-label {
  width: 40%;
  float: left;
  margin-right: 2.85714%;
  text-align: right;
  line-height: 3.2;
}

/* line 82, ../sass/bases/_main.scss */
.ex-item-head-title {
  width: 57.14286%;
  float: right;
  margin-right: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* line 89, ../sass/bases/_main.scss */
.ex-item-title {
  width: 57.14286%;
  float: right;
  margin-right: 0;
  font-size: 96%;
}

/* line 95, ../sass/bases/_main.scss */
.ex-content {
  margin-top: 100px;
  display: none;
  width: 57.14286%;
  margin-left: 42.85714%;
  background-color: white;
}
/* line 100, ../sass/bases/_main.scss */
.ex-content.active {
  display: block;
}
/* line 106, ../sass/bases/_main.scss */
.ex-content header {
  position: relative;
  padding-bottom: 4.5em;
}
/* line 108, ../sass/bases/_main.scss */
.ex-content header h1 {
  padding-top: 0.9em;
  padding-bottom: 0.3em;
  font-size: 200%;
  color: #090909;
}
/* line 115, ../sass/bases/_main.scss */
.ex-content header time {
  color: #4a4a4a;
  font-weight: lighter;
}

/* line 123, ../sass/bases/_main.scss */
.ex-content-body {
  margin-right: 5.71429%;
  padding-bottom: 4.5em;
}

/* line 129, ../sass/bases/_main.scss */
.ex-content-aside {
  margin-right: 3.38983%;
  margin-bottom: 1.69492%;
}
/* line 133, ../sass/bases/_main.scss */
.ex-content-aside.hidden {
  display: none;
}
/* line 136, ../sass/bases/_main.scss */
.ex-content-aside li {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8125em;
  line-height: 1.84615em;
}
/* line 12, ../../../../.rvm/gems/ruby-2.0.0-p451/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.ex-content-aside li:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 139, ../sass/bases/_main.scss */
.ex-content-aside li span {
  font-weight: bold;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
/* line 143, ../sass/bases/_main.scss */
.ex-content-aside li p {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

/* line 150, ../sass/bases/_main.scss */
.short-details-header {
  margin-bottom: 0.6em;
}

/* line 154, ../sass/bases/_main.scss */
.ex-content-close {
  position: absolute;
  right: 30px;
  top: -30px;
  font-size: 30px;
  cursor: pointer;
}

/* line 3, ../sass/bases/_type.scss */
html, .header h1 {
  font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, fantasy;
}

/* line 7, ../sass/bases/_type.scss */
.header-nav, .ex-item-head-label, .ex-item-head-title, .label-alert, .label-note, .label-transparent {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/* line 11, ../sass/bases/_type.scss */
.ex-item-title, .ex-content header h1 {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

/* line 1, ../sass/modules/_label.scss */
.label-alert, .label-note, .label-transparent {
  display: inline;
  padding: 4px 10px 5px;
  font-weight: 700;
  line-height: 70%;
  color: #fff;
  font-size: 70%;
  white-space: nowrap;
}

/* line 11, ../sass/modules/_label.scss */
.label-alert {
  background-color: #f3377a;
}

/* line 17, ../sass/modules/_label.scss */
.label-note {
  background-color: #4bbef3;
}

/* line 23, ../sass/modules/_label.scss */
.label-transparent {
  color: #4a4a4a;
  font-weight: lighter;
}

/* line 1, ../sass/modules/well.scss */
.ex-content-aside {
  padding: 20px;
  border: 1px solid #a2a3a7;
  background-color: #f6fdea;
  border-radius: 3px;
}

/*
  Icon Font: fontcustom
*/
@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_fbc764a2a69cd25adaea89f0e34aa003.eot");
  src: url("../fonts/fontcustom_fbc764a2a69cd25adaea89f0e34aa003.eot?#iefix") format("embedded-opentype"), url("../fonts/fontcustom_fbc764a2a69cd25adaea89f0e34aa003.woff") format("woff"), url("../fonts/fontcustom_fbc764a2a69cd25adaea89f0e34aa003.ttf") format("truetype"), url("../fonts/fontcustom_fbc764a2a69cd25adaea89f0e34aa003.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_fbc764a2a69cd25adaea89f0e34aa003.svg#fontcustom") format("svg");
  }
}
/* line 23, ../sass/_fontcustom.scss */
[data-icon]:before {
  content: attr(data-icon);
}

/* line 25, ../sass/_fontcustom.scss */
[data-icon]:before,
.icon-close:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 41, ../sass/_fontcustom.scss */
.icon-close:before {
  content: "\f100";
}
